<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        table
            thead
                tr
                    th ID
                    th Name
                    th Country
            tbody
                each i in data
                    tr 
                        td= i.id
                        td= i.name
                        td= i.country
                        td 
                            a(href="/Update/"+i.id+"") Edit
                        td
                            a(href="/Delete/"+i.id+"") Delete
    a(href="/Create") สร้าง